{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/header.html' %}
</head>
<body>
    {% include 'components/nav.html' %}
    <div class="hero-wrap" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
               <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Gallery</span></p>
              <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Galleries</h1>
            </div>
          </div>
        </div>
      </div>
  
      <section class="ftco-section ftco-gallery">
          <div class="container">
              <div class="d-md-flex">
                  <a href="{% static 'images/gallery/img1.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img1.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
  
                  <a href="{% static 'images/gallery/img2.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img2.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
  
                  <a href="{% static 'images/gallery/img3.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img3.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
  
                  <a href="{% static 'images/gallery/img4.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img4.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
              </div>
              <div class="d-md-flex">
                  <a href="{% static 'images/gallery/img5.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img5.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
                  <a href="{% static 'images/gallery/img6.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img6.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
                  <a href="{% static 'images/gallery/img8.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img8.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img27.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img27.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
              </div>
              <div class="d-md-flex">
            <a href="{% static 'images/gallery/img25.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img25.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img26.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img26.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
                  <a href="{% static 'images/gallery/img9.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img9.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
                  <a href="{% static 'images/gallery/img10.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img10.JPG);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
              </div>
          <div class="d-md-flex">
            <a href="{% static 'images/gallery/img13.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img13.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img14.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img14.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img15.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img15.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img16.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img16.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
          </div>
          <div class="d-md-flex">
            <a href="{% static 'images/gallery/img17.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img17.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img18.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img18.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img19.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img19.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img20.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img20.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
          </div>
          <div class="d-md-flex">
            <a href="{% static 'images/gallery/img21.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img21.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img22.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img22.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img23.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img23.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
            <a href="{% static 'images/gallery/img24.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img24.jpeg);">
                      <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search"></span>
                      </div>
                  </a>
          </div>
          </div>
      </section>
    {% include 'components/footer.html' %}
</body>
</html>