{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/header.html' %}
</head>
<body>
    {% include 'components/nav.html' %}

    <!--============ Hero section ================-->
    
    <div class="hero-wrap" style="background-image: url('/static/images/bgIm.png');" data-stellar-background-ratio="0.9">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="btndiv col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }"> <br>
            <h1 style="font-weight: 800; color: rgb(255, 255, 255);">Welcome to <br> Waseela E Awal</h1>
            <br>
            <p class="btnhome1" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
              <a href="https://youtu.be/8DNSH23gL2Q" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch Video</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- =============== 3 points ================== -->

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-3"><span class="flaticon-donation-1" style="font-size: 5rem;"></span></div>
              <div class="media-body pl-4">
                <h3 style="font-weight: bold;" class="heading">Make Donation</h3>
                <p style="color: rgb(69, 68, 68);">"The best among
                  you are those who bring greatest benefits to others."<br>-Prophet Muhammad (PBUH)</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-3"><span class="flaticon-charity" style="font-size: 5rem;"></span></div>
              <div class="media-body pl-4">
                <h3 style="font-weight: bold;" class="heading">Become A Volunteer</h3>
                <p style="color: rgb(69, 68, 68);">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-3"><span class="flaticon-donation" style="font-size: 5rem;"></span></div>
              <div class="media-body pl-4">
                <h3 class="heading" style="font-weight: bold;">Sponsorship</h3>
                <p style="color: rgb(69, 68, 68);">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>    
          </div>
        </div>
    	</div>
    </section>

    
    <section class="ftco-section" style="margin-bottom:60px;">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-6 col-sm-12 col-12 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(/static/images/bg\ \(2\).JPG); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 col-lg-6 col-sm-12 col-12 pl-md-5 ftco-animate">
    				<h2 class="mb-4">Welcome to Waseela E Awal</h2>
    				<p>There is one with soul desiring mend and so he
              pleads,<br>
              but there is also another in greater distress and with needs.<br>
              Then it is the composure of both that is assessed,<br>
              and for the two He plans, keeping with what He witnessed.<br>
              So Together We Stand, To Please Him Through Service,<br>
              and express gratitude by being all’s source of bliss.<br>
              The name Waseela e Awal represents the idea of one being the source of help and happiness to another
              through the Almighty,<br> as such being Zariya e Khuda.
              Encouraging the thought that an act of goodwill regardless of how small, is still an effort,<br> and the most
              minor of these will in time get together to bring about significance to a cause.</p>
    			</div>
    		</div>
    	</div>
    </section>


    <!-- ========== gallary =========== -->

    <section class="ftco-gallery">

    	<div class="d-md-flex">

	    	<a href="{% static 'images/gallery/img1.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('/static/images/gallery/img1.JPG');">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    	<a href="{% static 'images/gallery/img2.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img2.jpeg);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    	<a href="{% static 'images/gallery/img3.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img3.JPG);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    	<a href="{% static 'images/gallery/img4.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img4.JPG);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
    	</div>

    	<div class="d-md-flex">
	    	<a href="{% static 'images/gallery/img5.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img5.JPG);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    	<a href="{% static 'images/gallery/img6.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img6.JPG);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    	<a href="{% static 'images/gallery/img20.jpeg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img20.jpeg);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    	<a href="{% static 'images/gallery/img8.JPG' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/static/images/gallery/img8.JPG);">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>

	    </div>
    </section>

    <!-- ============ latest events ============= -->

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Few Glimpses of Flood-Relief Campaign</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/events/image3.jpeg');">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#">October. 24, 2021</a></div>
                </div>
                <p>Medical camps were established at four different places for the flood victims where we provided medical assistance and medicines in the presence of Professional Doctors</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/events/image2.jpeg');">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#">December. 11, 2021</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Ration & Clothes distribution</a></h3>
                <p>
                  More than 1000 clothes and around 100 ration packs were distributed among Flood Victims of different villages</p>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/events/image1.jpeg');">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#">January. 20, 2022</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Food Supply</a></h3>
                <p>
                  Fresh food were provided in effected areas of Flood</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========== cards boxes ========== -->

    <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-1 align-items-stretch">
              <div class="text">
              	<span>Served Over</span>
                <strong class="number" data-number="8000">0</strong>
                <span>people in Pakistan.</span>
              </div>
            </div>
          </div>

          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Donate Money</h3>
              	<p>Help us in spreading kindness.</p>
                <span style="font-weight: bold; font-size: 1rem;">Easypaisa Account Number:</span>
              	<p><a href="#" class="btn btn-white px-3 py-2 mt-2">
                <span style="color: #F8702E;">0315 3747002</span></a></p>
              </div>
            </div>
          </div>

          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Contact Us</h3>
              	<p>Contact us on whatsapp number below to learn more about us.</p>
              	<p>
                  <a href="tel:0336219856" class="btn btn-white px-3 py-2 mt-2"><span style="color: #F8702E;">0336 2198756</span></a>
                </p>
              </div>
            </div>
          </div>

    		</div>
    	</div>
    </section>

    <br> <br> <br>

    <!-- ============== upcoming events ================= -->

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Upcoming Events</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/event-1.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Sep. 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/event-2.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Sep. 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/event-3.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Sep. 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- ================== contact us ======================= -->
		
		<section class="ftco-section-3 img" style="background-image: url(/static/images/contact.JPG);">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex">
    		<div class="col-md-6 d-flex ftco-animate">
    			<div class="img img-2 align-self-stretch" style="background-image: url(/static/images/contact.JPG);"></div>
    		</div>
    		<div class="col-md-6 volunteer pl-md-5 ftco-animate">
    			<h3 class="mb-3">Contact Us</h3>
    			<form action="#" class="volunter-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
            </div>
          </form>
    		</div>    			
    		</div>
    	</div>
    </section>

    {% include 'components/footer.html' %}
</body>
</html>