{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/header.html' %}
</head>

<body>

    {% include 'components/nav.html' %}

    <main id="main" style="font-family:sans-serif;">
        <!-- <section class="features">
            <div class="container">
                <div class="row" style="display: flex;align-items: center;justify-content: center;">
                    <div class="col-md-6">
                        <div class="section-title">
                        <h2>Our Purpose</h2>
                        <p style="text-align: center;font-size: 17px;">
                            Waseela e Awal is a platform that encourages the thought that an act of goodwill, regardless of
                            how small, is still an effort, and the most minor of these will in time get together to bring
                            about significance to a cause. Therefore help, in any of it’s forms, from donating funds to
                            acting as a volunteer to a drive of Waseela e Awal, every gesture of charity is valued.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="features">
            <div class="container">

                <div class="section-title">
                    <h2>Missions</h2>
                    <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p> -->
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src={% static "assets/img/photo-output 2.jpg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3>Title: AUG20 </h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 20/08/2020
                            </li>
                            <li><i class="bi bi-check"></i>Location: Latifabad, Hyderabad
                            </li>
                            <li><i class="bi bi-check"></i>Description: Distribution of summer clothing
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 1000 clothing packets
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src={% static "assets/img/photo-output 4.jpg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Title: SEP20</h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 03/09/2020
                            </li>
                            <li><i class="bi bi-check"></i>Location: Qasimabad, Hyderabad
                            </li>
                            <li><i class="bi bi-check"></i>Description: Distribution of food - Biryani
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 350 meal boxes
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src={% static "assets/img/IMG_5656.jpg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>Title: NOV20</h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 10/11/2020
                            </li>
                            <li><i class="bi bi-check"></i>Location: Govt. School
                            </li>
                            <li><i class="bi bi-check"></i>Description: Productive time spent with the young students,
                                engaging them in infotainment. Each kid provided with basic school supplies (notebooks,
                                pens, colouring pencils etc.), gift bags with toys and a meal (biryani, juice)
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: Arrangements for a strength of 60 students
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src={% static "assets/img/december20.jpg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Title: DEC20</h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 17/12/2020
                            </li>
                            <li><i class="bi bi-check"></i>Location: Bukhari Fried Chicken Restaurant, Qasimabad,
                                Hyderabad
                            </li>
                            <li><i class="bi bi-check"></i>Description: In collaboration with BFC.Kids from a nearby
                                slum were taken responsibility of by our team for a few hours with the permission of
                                their guardian, during which they were taken to the restaurant for them to experience
                                the environment and try a food item other than usual. They were served pizzas with
                                drinks.
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: Arrangements for a maximum of 50 kids were made in
                                a hall to ensure the SOPs are followed.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src={% static "assets/img/jan22.jpeg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>Title: WARM-WEAR I </h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 09/01/2021, 23/01/2021</li>
                            <li><i class="bi bi-check"></i>Location: Hala Naka, Latifabad </li>
                            <li><i class="bi bi-check"></i>Description: In collaboration with The Walkway School - TWS
                                Distribution of warm clothing was done in two parts.
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 1500 jackets, sweaters and clothing packets
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src={% static "assets/img/photo-output 12.jpg" %} class="img-fluid" alt="" style="width:80%;">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Title: IFTAR21 </h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 26/04/2021
                            </li>
                            <li><i class="bi bi-check"></i>Location: Latifabad, Hyderabad
                            </li>
                            <li><i class="bi bi-check"></i>Description: In collaboration with Husseini Dastarkhwan
                                Distribution of food - Biryani
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 300 meal boxes
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 ">
                        <img src={% static "assets/img/iftar21.jpg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>Title: OCT21 </h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 24/10/2021
                            </li>
                            <li><i class="bi bi-check"></i>Location: Husseini Dastarkhwan, Hyderabad
                            </li>
                            <li><i class="bi bi-check"></i>Description: In collaboration with Husseini Dastarkhwan
                                Distribution of food - Biryani
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 300 meal boxes
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src={% static "assets/img/warm_wear2.jpg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1 ">
                        <h3>TTitle: WARM-WEAR II </h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 11/12/2021
                            </li>
                            <li><i class="bi bi-check"></i>Location: Latifabad, Hyderabad
                            </li>
                            <li><i class="bi bi-check"></i>Description: Distribution of warm clothing
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 2000 clothing packets
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src={% static "assets/img/warm_wear.jpeg" %} class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 ">
                        <h3>Title: JAN22 </h3>
                        <ul>
                            <li><i class="bi bi-check"></i>Date: 20/01/2022
                            </li>
                            <li><i class="bi bi-check"></i>Location: Sindh
                            </li>
                            <li><i class="bi bi-check"></i>Description: In collaboration with Rehmat Welfare
                                Organization - RWO
                                Blankets were distributed
                            </li>
                            <li><i class="bi bi-check"></i>Quantity: 25 blankets
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- End Features Section -->
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    {% include 'components/footer.html' %}
</body>

</html>