{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'components/header.html' %}
</head>

<body>
  {% include 'components/nav.html' %}
  <main id="main">
    <h1 style="text-align: center;padding-top: 12px;">Executive Board</h1>
    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row main_row" style="display: flex;justify-content: center;">

          <div class="col-lg-5 col-md-4 col-sm-12 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/team1.jpeg" %} class="img-fluid" alt="" style="height: 380px;width: 370px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Aiman Memon</h4>
                <span style="text-align: center;">Founder/Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/89d44bb4-51d7-4203-9a96-03df4d30d4eb.jpg" %} class="img-fluid" alt="" style="height: 370px;width: 380px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Syed Arham Abbas</h4>
                <span style="text-align: center;">Co Founder/ PRESIDENT</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/db08fd6b-9c13-4bba-b98b-e64dcb826280.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Mustafa Jamali</h4>
                <span style="text-align: center;">Vice PRESIDENT</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/514be810-d038-437d-94bb-54bbe9bf222a.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Pirah Soomro</h4>
                <span style="text-align: center;">GENERAL SECRETARY</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/77da5215-5788-4df0-919b-3a30baa80caf.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Fareeza Samoo</h4>
          
              </div>
            </div>
          </div>
          <h1 style="text-align: center;padding-top: 12px;">HEAD CREW</h1>
          <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/WhatsApp Image 2022-03-26 at 11.38.42 PM.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;"> 
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Hamza Moosani</h4>
                <span style="text-align: center;">Head Coordinator-External Affairs</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/WhatsApp Image 2022-03-26 at 11.39.28 PM.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Minahil Memon</h4>
                <span style="text-align: center;">Head Coordinator-Internal Affairs</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/WhatsApp Image 2022-03-26 at 11.40.01 PM.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Jawad Memon</h4>
                <span style="text-align: center;">Director</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/WhatsApp Image 2022-03-26 at 11.41.33 PM.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Tayyaba Memon</h4>
                <span style="text-align: center;">Director</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/dded890d-ce2f-49e6-9118-da7a952529bf.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Kumail Hussain</h4>
                <span style="text-align: center;">Team Management</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/WhatsApp Image 2022-03-26 at 11.51.27 PM.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Syeda Alizeh Noor</h4>
                <span style="text-align: center;">Internal Fund Raise Incharge</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/team/WhatsApp Image 2022-03-26 at 11.51.45 PM.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Atif Mirrani</h4>
                <span style="text-align: center;">Team Management</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/female_avatar.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Maryam Khanzada</h4>
                <span style="text-align: center;">Content formation incharge</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/abdul_rahim.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Adbul Rahim Memon</h4>
                <span style="text-align: center;">Team Photography</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/haleema.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Haleema Memon</h4>
                <span style="text-align: center;">Brand Ambassador</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/sania.jpg" %} class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Sania Memon</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/hifza.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Hifza Fatima</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/female_avatar.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Khizra Shaikh</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/ashar.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Ashar Jatoi</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/dua.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Dua Solangi</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/bushra.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Bushra Solangi</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/faizan.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Faizan Mallah</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/noor.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Noor Fatima</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/female_avatar.jpeg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Sidra Khan</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/prakash.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Prakash</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/tahreem.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Tahreem Saeed</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/hasnain.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Syed Hasnain</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/rafaiy.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Rafay siddiqui</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/maria.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Maria Agha</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/zainab.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Zainab Jamali</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/muskan.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Muskan Lohana</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src={% static "assets/img/mariyam.jpg" %} class="img-fluid" alt=""  style="height: 400px;width: 400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Mariyam Keghan</h4>
              </div>
            </div>
          </div>
      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'components/footer.html' %}
</body>

</html>